# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: duskadiy:Qwen3-Coder-30B-Instruct-IQ4_XS
clients:
- type: openai-compatible
  name: ollama
  api_base: http://127.0.0.1:11434/v1
  models:
  - name: deepcoder:14b
  - name: gemma3:12b
  - name: gemma3n:latest
  - name: gpt-oss:latest
  - name: qwen3:14b
- type: openai-compatible
  name: llamacpp
  api_base: http://127.0.0.1:11343/v1
  models:
  - name: default
- type: openai-compatible
  name: duskadiy
  api_base: https://llm.duskadiy.com/api/v1
  api_key: ***
  models:
  - name: Qwen3-Coder-30B-Instruct-IQ4_XS
